[Unit]
Description=Compress old MAPS Logger output files

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'CURRENT="maps-$(date -u +%%Y-%%m-%%d-%%H)"; find /var/log/maps-logger -name "*.csv" -mmin +120 ! -name "*.gz" ! -name "${CURRENT}.csv" -exec gzip -f {} \;'
ExecStart=/bin/bash -c 'CURRENT="maps-$(date -u +%%Y-%%m-%%d-%%H)"; find /var/log/maps-logger -name "*.ndjson" -mmin +120 ! -name "*.gz" ! -name "${CURRENT}.ndjson" -exec gzip -f {} \;'
